@model EmployeeData.Models.EmployeeModel
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello World</title>
</head>
<body>
    <div>
        <h3>Hello Amit</h3>
        <hr />
    </div>
</body>
</html>
